{% extends "base.html" %}

{% block head%}

{% endblock %}

{% block content %}
<div class="container-fluid p-5 bg-black text-white text-center">
<h1>SPARKLE</h1>
<p>팀소개</p> 
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h3>SPARKLE INFO</h3>
            <p>‘Soundinity’는 DNA-HERO 연구 프로젝트의 ‘스파클’ 팀이 개발한 앰비언트 사운드 제공 서비스로, 가상공간 내의 물질 및 환경 조건에 따른 소리효과를 구현합니다.</p>
            <p>Soundinity는 WaveGAN을 기반으로 오디오 데이터를 학습해 만들어졌으며, 게임 엔진 내의 게임 오브젝트 구현 시 필요한 효과음이나 사운드 파일을 사용자가 입력한 파라미터에 알맞게 제공합니다. </p>
            <p>해당 사이트는 ‘Soundinity’의 데모버젼으로, 지금까지 학습한 모델의 결과물들을 확인하고, 일부 모델은 직접 구동할 수 있습니다.</p>
            </div>
            <div class="col-sm-4">
            <h3></h3>
            <p>DNA-HERO, 또는 창의혁신 DNA 산학협력 팀 프로젝트는 성균관대학교 공학교육혁신센터가 주최하고 산업통상자원부와 한국산업기술진흥원이 주관하는 창의융합형공학인재양성지원사업의 일환으로 진행되는 사업입니다.</p>
            <p>혹시 해당 프로젝트와 관련하여 추가적으로 문의사항이 있다면 taleweaver@g.skku.edu 로 연락주시면 감사하겠습니다.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}